#beerTitle {
    font-size: 4rem;
    text-align: center;
}

.beerDisplay {
    display: grid;
    grid-template-columns: 17rem 17rem 17rem 17rem;
    column-gap: 2.5rem;
    margin-left: 1.4rem;
    margin-bottom: 7rem;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 2.2s ease-out;
    will-change: opacity, visibility;
}

.beerDisplay.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

.beerImages {
    height: 65vh;
    width: 45vh;
}

@media screen and (max-device-width: 800px) {
    #beerTitle {
        width: 200%;
    }

    .beerDisplay {
        display: inline-block;
    }

    .beerImages {
        height: 160vh;
        width: 110vh;
        margin: 4rem 0 0 1.8rem;
    }

}

@media screen and (min-width:1400px) and (max-width:2000px) {
    
    .beerDisplay { 
        grid-template-columns: 25% 25% 25% 25%;
        margin-right: 15rem;
    }

}