.all {
  margin: 4rem 0 0 3.9rem;
  color: white;
  font-family: 'Arvo', serif;
  font-size: 7rem;
  animation-name: intromove;
  animation-duration: 2s;
}

#second {
  margin: 0.5rem 0 0 3.9rem;
  font-size: 4rem;
}

#third {
  margin: 0.2rem 0 0 4.3rem;
  font-size: 3.5rem;
}

#fourth {
  margin: 0 0 25rem 4.3rem;
  font-size: 3.5rem;
}

body {
  background-image: url(../images/restaurantIntro.jpeg);
  background-repeat: no-repeat;
  margin: 0;
  background-size: 95rem;
  transition-duration: 2s;
}

@keyframes intromove {
  from {transform: translateX(-30rem)}
  to { transform: translateX()}
}

/* MOBILE SCREEN CSS  */

@media screen and (max-device-width: 800px) {
  body {
    background-size: 160rem;
    overflow-x: hidden;;
  }
  .all {
    margin: 35rem 0 0 -5rem;
    width: 60rem;
    text-align: center;
    font-size: 5rem;
  }

  #second {
    margin: 0 0 0 -5rem;
    font-size: 5rem;
  }
  
  #third {
    margin: 0 0 0 -5rem;
    font-size: 5rem;
  }
  
  #fourth {
    margin: 0 0 0 -5rem;
    font-size: 5rem;
    padding-bottom: 42rem;
  }
}





/* @media screen and (min-width:1300px) and (max-width:1600px) { */