.wholeMenu {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.menuFirst {
    margin: 1rem 0 0 6.5rem;
    display: grid;
    grid-template-columns: 23rem 23rem 23rem;
    column-gap: 0rem;
}


.menuSecond {
    font-size: 1.3rem;
    color: white;
    margin: -13rem 0 10rem 5.5rem;
    display: grid;
    grid-template-columns: 23rem 23rem 23rem;
    column-gap: 0rem;
    text-align: center;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

#two {
    margin-top: 3rem;
}
.menuImages {
    width: 55vh;
    height: 85vh;
}

.wholeMenu.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

.menuSecond.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }