.wholeMenu {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.menuFirst {
    margin: 1rem 0 0 6.5rem;
    display: grid;
    grid-template-columns: 23rem 23rem 23rem;
    column-gap: 0rem;
}


.menuSecond {
    font-size: 1.3rem;
    color: white;
    margin: -13rem 0 10rem 5.5rem;
    display: grid;
    grid-template-columns: 23rem 23rem 23rem;
    column-gap: 0rem;
    text-align: center;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

#two {
    margin-top: 3rem;
}
.menuImages {
    width: 55vh;
    height: 85vh;
}

.wholeMenu.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

.menuSecond.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }


@media screen and (max-device-width: 800px) {
.menuFirst {
      display:inline-block;

}

.menuSecond {
    color: white;
    display: inline-block;
    position: absolute;
    font-size: 3rem;
    margin-left: 1rem;
}

.menuImages {
    margin-left: -4.5rem;
    width: 115vh;
    height: 190vh;
    padding-bottom: 2rem;
}

#firstTitle {   margin: -158rem 0 0 9rem;  }
#secondTitle {  margin: 65rem 0 0 9rem; }
#thirdTitle {   margin: 50rem 0 0 9rem; }

}


@media screen and (min-width:1300px) and (max-width:1500px) {
    .menuImages {
        width: 50vh;
        height: 80vh;
    }
}

@media screen and (min-width:1400px) and (max-width:2000px) {
    .menuFirst {
        grid-template-columns: 33% 33% 33%;
    }

    .menuSecond {
        grid-template-columns: 33% 33% 33%;
    }
    
    .wholeMenu {
        opacity: 0;
        transform: none;
        visibility:unset;
        transition: none;
        will-change: none;
    }

}