.OurMissionWhole {
    position: relative;
}

#OurMissionTitle {
    margin-right: 5rem;
}

.OurMissionImage {
    height: 120vh;
    width: 100%
}

.OurMissionDescription {
    margin-left: 25rem;
    width: 45rem;
    position: absolute;
    top: 8rem;
    color: white;
    font-family: 'Arvo', serif;
    font-size: 1.2rem;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 2.2s ease-out;
    will-change: opacity, visibility;
}

.OurMissionDescription.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  /* MOBILE SCREEN CSS  */

@media screen and (max-device-width: 800px) {

    .OurMissionWhole {
        width: 150vh;        
        overflow: hidden;;
    }

    .OurMissionImage {
        height: 200vh;
        width: 280%
    }

    #OurMissionTitle {
        margin-right: 5rem;
        font-size: 5rem;
    }

    .OurMissionDescription {
        margin-left: 2rem;
    }

    #OurMissionParagraph {
        font-size: 2rem;
        width: 110vh;
    }

}